h1{
    margin: 20px;
    padding: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .product {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
  }
  .product img {
    max-width: 100px;
    margin-right: 20px;
  }
  .product-info {
    flex: 1;
  }
  .remove{
    font-size: 15px;
    margin-top: 30px;
    margin-left: 1150px;
    color: red;
    cursor: pointer ;
  }
  .product-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 100px;
    
  }
  .product-price {
    font-size: 20px;
    color: #333;
    padding: 10px;
     margin: 20px; 
    margin-left: 100px;
    
  }
  .quantity {
    margin-bottom: 20px;
    margin-left: 700px;
  }
  .quantity label {
    font-size: 16px;
    margin-right: 10px;
    
  }
  .quantity input {
    width: 40px;
    padding: 5px;
    font-size: 16px;
  }
  .add-to-cart-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 930px;
  }
  .add-to-cart-btn:hover {
    background-color: #0056b3;
    
  }
  .remove2{
    color: red;
    cursor: pointer;
    margin-left: 950px;
    padding: 15px;
  }
